@use './components' as *;
@use './base' as *;
@use './abstracts/' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: $dark-grey white;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    @include xs { margin-bottom: 6rem; }
}

input, button, textarea, select {
    font: inherit;
}  

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

.settingsModal {
    position: absolute;
    top: 4rem;
    right: 0.6rem;
    padding: 0.6rem;
    width: 12.5rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    
    * {
        padding: 0.3rem 0.6rem;
        border-radius: 0.75rem;
        cursor: pointer;
    }
    
    *:hover {
        background-color: $light-grey;
    }
}

.settingsBackground {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
}

ul {
    list-style: none;
}

*:focus-visible {
    outline: 3px solid $light-blue;
}

.redBtn {
    background-color: $light-red;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 1.5rem;
    margin: 0 0.3rem;
    cursor: pointer;
    
    &:hover {
        background-color: $dark-red;
    }
}

.greyBtn {
    background-color: $light-grey;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 1.5rem;
    margin: 0 0.3rem;
    cursor: pointer;
    
    &:hover {
        background-color: $dark-grey;
    }
}

.btnOff {
    background-color: $light-grey;
    color: mix($light-grey, black, 50%);
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 1.5rem;
    margin: 0 0.3rem;
}

.blackBtn {
    background-color: black;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 1.5rem;
    margin: 0 0.3rem;
    cursor: pointer;
}

.fInput {
    input:not(input[type=file]) {
        padding: 0.6rem 1rem;
        border: 2px solid $dark-grey;
        border-radius: 1rem;
    }
}

.hoverOptions {
    position: absolute;
    padding: 0px 0.6rem;
    width: 100%;
    top: 1rem;
    left: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    button {
        margin-right: 1rem;
    }
    
    div {
        color: white;
    }
}

.error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.noMatches {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 20rem;
    transform: translate(-50%, -50%);
}