@use '../abstracts' as *;

/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

* {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

form {
  label {
    font-size: .8rem;
    font-weight: normal;
  }

  input {
    font-size: 0.9rem;
    font-weight: normal;
  }

  textarea {
    font-size: 0.9rem;
    font-weight: normal;
  }
}

.formHeader {
  font-size: 1.1rem;
}

p {
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.greyBtn {
  font-weight: 600;
}

.commentBtn {
  font-size: .8rem;
  font-weight: bold;
}

.delete {
  p {
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.date {
  font-weight: normal;
  font-size: .9rem;
}

.collectionsBtn {
  * {
    font-weight: bold;
  }
}

.userCollection {
  p {
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.userProfile {
  .username {
    font-weight: bold;
  }
}

.searchBar {
  input {
    font-weight: normal;
  }
}

.error {
  h1 {
    font-size: 7.5rem;
  }
}

.similarPins {
  h1 {
    font-size: 1.7rem;
  }
}

.modal {
    h1 {
        font-size: 1.5rem;
    }
}

.pinDetails {
    h2 {
        @include xs { font-size: 1.1rem; }
    }
}