@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 1em;
}

form {
  label {
    font-size: .8em;
    font-weight: normal;
  }

  input {
    font-size: 0.9em;
    font-weight: normal;
  }

  textarea {
    font-size: 0.9em;
    font-weight: normal;
  }
}

.formHeader {
  font-size: 1.1em;
}

p {
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.greyBtn {
  font-weight: 600;
}

.replyBtn {
  font-size: .8em;
  font-weight: bold;
}

.delete {
  p {
    font-size: 1.3em;
    font-weight: bold;
  }
}

.date {
  font-weight: normal;
  font-size: .9em;
}

.collectionsBtn {
  * {
    font-weight: bold;
  }
}

.userCollection {
  p {
    font-weight: bold;
    font-size: 1.2em;
  }
}

.userProfile {
  .username {
    font-weight: bold;
  }
}

.searchBar {
  input {
    font-weight: normal;
  }
}