$light-grey: #F1F1F1;
$dark-grey: mix(#F1F1F1, black, 95%);

$light-red: rgb(230, 0, 35);
$dark-red: mix(rgb(230, 0, 35), black, 90%);

$very-light-blue: mix(#7FC1FF, white, 30%);
$light-blue: #7FC1FF;
$dark-blue: mix(#7FC1FF, black, 97%);