@use '../abstracts/' as *;

.pins {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 14.75em);
    grid-auto-rows: 0.6rem;
    justify-content: center;
    align-items: center;

    @include xs { 
        grid-template-columns: repeat(auto-fit, 10.75em); 
    }
}

.pinPageBackground {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pin {
    margin: 1rem 0.6rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;

    &.loaded {
        opacity: 1;
    }

    .pinContent {
        width: 100%;
    }

    .pinBackground {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1.5rem;
        position: relative;
        margin-bottom: 0.6rem;

        &.hover::before {
            position: absolute;
            content: '';
            z-index: -1;
            width: 100%;
            inset: 0;
            border-radius: 1.5rem;
            background: rgba(0, 0, 0, 0.5);
        }
    }

    .pinImg {
        border-radius: 1.5rem;
        max-width: 100%;
        object-fit: cover;

        &.hover {
            filter: brightness(.5);
        }
    }
}

.pinContainer {
    display: flex;
    align-items: start;
    justify-content: center;
    box-shadow: $box-shadow;
    border-radius: 1.5rem;
    margin-bottom: 2.2rem;

    .pinImg {
        display: block;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        width: 40.25rem;
        height: 100%;
        max-height: 43.75rem;
        object-fit: cover;

        @include xs { width: 20rem; }
    }

    @include xs { margin-inline: 1rem; }

    @include lg {
        flex-direction: column;
        max-height: 87.5rem;

        .pinImg {
            border-top-left-radius: 1.5rem;
            border-top-right-radius: 1.5rem;
            border-bottom-left-radius: 0;
        }
    }

    a:link,
    a:visited {
        color: black;
        text-decoration: none;
    }
}

.pinDetails {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 31.25rem;
    padding: 1.5rem;
    align-self: stretch;

    .desc {
        margin-top: 1rem;
    }

    @include xs { 
        padding: 0.75rem; 
        width: 20rem; 

        .redBtn {
            margin-left: auto;
        }
    }

    h3 {
        border-bottom: 2px solid $light-grey;
    }
}

.pinUser {
    display: flex;
    align-items: center;
    padding-bottom: 2.2rem;
    padding-top: 1.25rem;

    p {
        cursor: pointer;
    }

    img {
        cursor: pointer;
        height: 3rem;
        width: 3rem;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 0.6rem;
    }
}

.comments {
    overflow: auto;
    flex: 1;
    max-height: 22rem;
    padding-bottom: 1.5rem;
    width: 100%;

    .likes {
        display: flex;
        align-items: center;
        justify-content: center;

        @include xs { margin-right: 0.5rem; }

        svg {
            margin-right: 0.3rem;
        }
    }

    a:hover {
        text-decoration: underline;
    }
}

.commentContent {
    display: flex;
    align-items: start;
    margin-top: 1rem;
    width: 100%;
    overflow-x: hidden;

    a {
        display: inline-block;
        text-decoration: none;
        padding-right: 0.3rem;
    }

    p {
        display: inline-block;
    }

    img {
        cursor: pointer;
        height: 2rem;
        width: 2rem;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 0.6rem;
    }
}

.reply {
    display: flex;
    align-items: start;
    padding-left: 2.2rem;
    margin-top: 1rem;
    width: 100%;
    overflow-x: hidden;

    a {
        display: inline-block;
        text-decoration: none;
        padding-right: 0.3rem;

        &:hover {
            text-decoration: underline;
        }

        &:visited {
            color: black;
        }
    }

    p {
        display: inline-block;
    }

    img {
        cursor: pointer;
        height: 2rem;
        width: 2rem;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 0.6rem;
    }

}

.replyDetails {
    display: flex;
    justify-content: space-around;
}

.commentBtn {
    color: grey;
    cursor: pointer;    

    &:hover {
        text-decoration: underline;
    }
}

.commentDetails {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    justify-content: space-around;
}

.commentText,
.replyText {
    width: 85%;
}

.addReplyContent {
    padding-top: 0.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    input {
        width: 100%;
    }

    form {
        width: 80%;
    }
}

.addReplyBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    padding-right: 2.2rem;
    padding-bottom: 0;
}

.addComment {
    margin-top: auto;
    padding-top: 1.5rem;
    border-top: 2px solid $light-grey;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    form {
        width: 85%;
    }

    input {
        width: 100%;
    }

    img {
        margin-right: 0.6rem;
        height: 3rem;
        width: 3rem;
        object-fit: cover;
        border-radius: 50%;
    }
}

.detailsTop {
    display: flex;
    justify-content: flex-end;
}

.optionsIcon {
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;

    &:hover {
        background-color: $light-grey;
    }
}

.info {
    margin-top: auto;
    margin-bottom: 3.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.liked {
    svg path {
        stroke: $light-red;
    }
}

.date {
    width: 3.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collectionsBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    padding: 0.4rem;
    cursor: pointer;

    button {
        margin-left: auto;
    }

    svg {
        margin-left: 0.3rem;
    }
}

.collectionsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background-color: white;
    padding: 1rem;
    z-index: 1000;
    width: 20rem;
    height: 25rem;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
    border-radius: 1.5rem;
    color: black;

    &.mobile {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.colTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
}

.collections {
    margin-top: 1.9rem;
    margin-bottom: 4.4rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    padding-right: 0.6rem;

    .collection {
        height: 4rem;
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 0.75rem;
        padding: 0 1.25rem;

        img {
            margin: 0.6rem;
            width: 3rem;
            height: 3rem;
            border-radius: 0.6rem;
            object-fit: cover;
        }

        &:hover {
            background-color: $light-grey;
        }
    }
}

.createCollectionBtn {
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;

    svg {
        margin-right: 1.25rem;
    }

    &:hover {
        background-color: $light-grey;
    }
}

.currCollection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        margin-bottom: 1.5rem;
    }
}

.hoverOptions {
    padding-bottom: 1.25rem;
}

.similarPins {
    height: 100%;

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.25rem;
    }
}