@use '../abstracts/' as *;

.pins {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 236px);
  grid-auto-rows: 10px;
  justify-content: center;
  align-items: center;
}

.pinPageBackground {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pin {
  margin: 15px 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .pinContent {
    width: 100%;
  }

  .pinBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    position: relative;
    margin-bottom: 10px;

    &.hover::before {
      position: absolute;
      content: '';
      z-index: -1;
      width: 100%;
      inset: 0;
      border-radius: 24px;
      background: rgba(0, 0, 0, 0.5);
    }
  }

  .pinImg {
    border-radius: 24px;
    max-width: 100%;
    object-fit: cover;

    &.hover {
      filter: brightness(.5);
    } 
  }
}

.pinContainer {
  display: flex;
  align-items: stretch;
  box-shadow: $box-shadow;
  border-radius: 24px;
  margin-bottom: 35px;

  .pinImg {
    display: block;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    width: 500px;
    max-height: 700px;
    height: 100%;
    object-fit: cover;
  }


  @media screen and (max-width: 950px){
    flex-direction: column;
    max-height: 1400px;

    .pinImg {
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      border-bottom-left-radius: 0;
    }
  }

  a:link,
  a:visited {
    color: black;
    text-decoration: none;
  }
}

.pinDetails {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 25px;

  h3 {
    border-bottom: 2px solid $light-grey;
  }
}

.pinUser {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
  padding-top: 20px;

  p {
    cursor: pointer;
  }

  img {
    cursor: pointer;
    height: 48px;
    width: 48px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.comments {
  overflow: auto;
  flex: 1;  
  max-height: 350px;
  padding-bottom: 25px;

  .likes {
    display: flex;
    align-items: center;
    justify-content: center;
    
    svg {
      margin-right: 5px;
    }
  }

  a:hover {
    text-decoration: underline;
  }
}

.commentContent {
  display: flex;
  align-items: start;
  margin-top: 15px;
  width: 100%;
  overflow-x: hidden;

  a {
    display: inline-block;
    text-decoration: none;
    padding-right: 5px;
  }

  p {
    display: inline-block;
  }

  img {
    cursor: pointer;
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.reply {
  display: flex;
  align-items: start;
  padding-left: 35px;
  margin-top: 15px;
  width: 100%;
  overflow-x: hidden;

  a {
    display: inline-block;
    text-decoration: none;
    padding-right: 5px;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: black;
    }
  }

  p {
    display: inline-block;
  }

  img {
    cursor: pointer;
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }

}

.replyDetails {
  display: flex;
  justify-content: center;
  gap: 55px;
}

.replyBtn {
  color: grey;
}

.commentDetails {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 8px;  
  justify-content: center;
  gap: 55px;
}

.commentText,
.replyText {
  width: 85%;
}

.addReplyContent {
  padding-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  input {
    width: 100%;
  }

  form {
    width: 80%;
  }
}

.addReplyBtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  padding-right: 35px;
  padding-bottom: 0;
}

.addComment {
  margin-top: auto;
  padding-top: 25px;
  border-top: 2px solid $light-grey;
  display: flex;
  align-items: center;
  justify-content: flex-start;  
  form {
    width: 85%;
  }

  input {
    width: 100%;
  }

  img {
    margin-right: 10px;
    height: 48px;
    width: 48px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.detailsTop {
  display: flex;
  justify-content: flex-end;
}

.info {
  margin-top: auto;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.liked {
  svg path {
    stroke: $light-red;
  }
}

.date {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collectionsBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin-left: auto;
  }

  svg {
    margin-left: 5px;
  }
}

.collectionsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: white;
  padding: 1em;
  z-index: 1000;
  width: 320px;
  height: 400px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  color: black;
}

.colTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
}

.collections {
  margin-top: 30px;
  margin-bottom: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  padding-right: 10px;

  .collection {
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;

    img {
      margin: 10px;
      width: 48px;
      height: 48px;
      border-radius: 10px;
      object-fit: cover;
    }

    &:hover {
      background-color: $light-grey;
    }
  }
}

.createCollectionBtn {
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;

  svg {
    margin-right: 20px;
  }

  &:hover {
    background-color: $light-grey;
  }
}

.currCollection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    margin-bottom: 25px;
  }
}

.hoverOptions {
  padding-bottom: 20px;
}

.similarPins {
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}