@use '../abstracts/' as *;

.userProfile {
  .photo {
    width: 7.5rem;
    height: 7.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 0.6rem;
  }

  .pins {
    border-top: 3px solid $light-grey;
    padding-top: 1.25rem;
  }

  .createColBtn {
    margin-left: auto;
    margin-right: 1.5rem;
    background-color: $light-grey;
    border: none;
    border-radius: 50%;
    width: 3.1rem;
    height: 3.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: $dark-grey;
    }
  }
}

.userDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .greyBtn {
    margin-top: 1.5rem;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3.1rem 0;
  }

  a {
    position: relative;
    text-decoration: none;
    padding: 0.3rem 0.6rem;
    border-radius: 0.75rem;
    cursor: pointer;
    color: black;

    &.active:after {
      content: '';
      height: 0.2rem;
      background-color: black;
      position: absolute;
      right: 0.6rem;
      left: 0.6rem;
      bottom: 0;
    }
   
    &:hover {
      background-color: $light-grey;
    }

    &:visited {
      color: black;
    }
  }
}

.userCollections {
  display: grid;
  grid-template-columns: repeat(auto-fit, 17.2em);
  grid-auto-rows: 14rem;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
}

.userCollection {
  position: relative;
  cursor: pointer;
  height: 80%;
  border-radius: 1.1rem;
 
  &:hover {
    filter: brightness(.9)
  }

  p {
    position: absolute;
    bottom: -2rem;
    left: 0.6rem;
  }

  img {
    width: 11rem;
    height: 11rem;
    border-radius: 1.1rem;
    object-fit: cover;
    box-shadow: 0 0 0 1.5px white;
    background-color: $light-grey;
  }
}

.colImg1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.colImg2 {
  position: absolute;
  top: -1rem;
  left: 2.2rem;
  z-index: 2;
}

.colImg3 {
  position: absolute;
  top: -2rem;
  left: 4.4rem;
  z-index: 1;
}

.username {
  margin-bottom: 0.6rem;
}